<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for slider in sliders%}
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="{{forloop1.counter}}"
      class="{% if forloop.counter == 1 %} active {% endif %}"
    ></li>

    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for slider in sliders %}

    <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
      <img
        class="d-block w-100"
        src="{{slider.photo.url}}"
        alt="{{slider.title}}"
      />
      <div class="carousel-caption d-none d-md-block mb-2">
        <h5>{{slider.title}}</h5>
        <p>{{slider.subtitle}}</p>
        <a class="btn btn-danger" href="#">{{slider.button_text}}</a>
      </div>
    </div>
    {% endfor %}
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
