{% extends 'core/base.html' %} {% block main %}
<section class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-uppercase">Team Members</h1>
      <hr />
    </div>
    {% for member in members %}
    <div class="col-md-4">
      <div class="card">
        <img
          src="{{member.photo.url}}"
          alt="{{member.first_name}}"
          class="card-img-top"
        />
        <div class="card-body text-center">
          <h3 class="card-title text-uppercase">
            {{member.first_name}} {{member.last_name}}
          </h3>
          <h4 class="card-text">{{member.role}}</h4>
          <small class="d-block text-muted">follow on</small>
          <a class="btn btn-primary" href="{{member.instagram_link}}"
            >Instagram</a
          >
          <a class="btn btn-primary" href="{{member.facebook_link}}"
            >Facebook</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock main %}
